* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.main {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.dice {
  /* text-align: center;
  display: inline-block; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

body {
  background-color: hsl(217, 10%, 25%);
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: hsl(160, 55%, 55%);
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}
/* .button-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
} */
.button {
  border: none;
  background: hsl(160, 55%, 55%);
  color: hsl(217, 10%, 25%);
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  padding-inline: 1rem;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
